<footer class="bg-gray-dark py-16 text-bg-2 mt-24">
  <div class="container">
    <div class="flex items-start justify-between flex-col md:flex-row">
      <div>
        <div class="flex sm:items-end gap-8 flex-col sm:flex-row">
          <div class="w-[160px] md:w-[260px]">
            <a routerLink="/home">
              <img src="../../../../assets/images/png/fieldfinder-logo.png" alt="FieldFinder">
            </a>
          </div>
          <div class="flex items-center gap-4">
            <a class="text-bg-2 cursor-pointer text-sm md:text-base" routerLink="/contact-us">Contact us</a>
            <a class="text-bg-2 cursor-pointer text-sm md:text-base" routerLink="/faq">FAQs</a>
            <a class="text-bg-2 cursor-pointer text-sm md:text-base" routerLink="/sign-up">Sign Up</a>
            <span class="text-bg-2 cursor-pointer text-sm md:text-base">Login</span>
          </div>
        </div>
        <div class="mt-10">
          <div class="flex items-center gap-6">
            <div>
              <a class="block w-9 h-9" href="#" target="_blank">
                <img src="../../assets/images/svg/icons8-instagram.svg" alt="instagram">
              </a>
            </div>
            <div>
              <a class="block w-9 h-9" href="#" target="_blank">
                <img src="../../assets/images/svg/icons8-facebook.svg" alt="facebook">
              </a>
            </div>
            <div>
              <a class="block w-9 h-9" href="#" target="_blank">
                <img src="../../assets/images/svg/icons8-twitter-circled.svg" alt="twitter">
              </a>
            </div>
          </div>
          <div class="mt-10 text-sm md:text-base">
            FieldFinder is proudly made in Amman, Jordan
          </div>
        </div>
      </div>
      <div class="md:self-end mt-9 md:mt-0">
        <div class="flex flex-col gap-5 md:block">
          <div class="text-sm text-left mb-5 md:text-base md:text-right">
            Email: 
            <a href="mailto:fieldfinder@gmail.com" class="text-primary" id="app_email">
              fieldfinder@gmail.com
            </a>
          </div>
          <div class="text-sm text-left mb-5 md:text-base md:text-right">
            Phone: 
            <a href="tel:0790881021" class="text-primary" id="app_number">
              0790881021
            </a>
          </div>
          <div class="text-sm md:text-base">
            © 2023 FieldFinder · <a class="text-bg-2" href="#">Terms of Service</a> · <a href="#">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>