@import 'tailwindcss/base';
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #eee;
  min-height: 100vh;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: unset;
}

///////////////////////////////////////
@import 'tailwindcss/components';
.shape-layer {
  background: rgba(238, 238, 238, 0.5);
  clip-path: polygon(0 0, 100% 0,68% 100% , 0 100%);
}
.linear-layer {
  background: linear-gradient(181.39deg, #000000 -50%, rgba(0, 0, 0, 0) 125.28%);
}
.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.nav-item {
  .nav-link {
    @apply cursor-pointer text-base font-medium text-gray-text hover:text-gray-dark-2
  }
}
.search-field {
  display: flex;
  border: 2px solid #017E10;
  border-radius: 5px;
  width: fit-content;
  .form-group {
    input[type=search] {
      padding: 20px 15px;
      border: 0;
      background-color: transparent;
      font-size: 18px;
      font-weight: 500;
      color: #1E1E1E;
      width: 306px;
      @media (max-width: 1400px) {
        width: 230px;
        font-size: 14px;
      }
      @media (max-width: 991.98) {
        width: 180px;
        color: #fbfbfb;
        font-size: 12px;
        padding: 15px 5px;
      }
      &::placeholder {
        color: #4f4f4f;
        @media (max-width: 991.98) {
          color: #fbfbfb;
        }
      }
      &:focus {
        --tw-ring-color: #017E10;
      }
    }
  }
  .search-btn {
    button[type=submit] {
      padding: 0 20px;
      border: 0;
      background-color: #017E10;
      height: 100%;
      width: 100%;
      font-size: 18px;
      line-height: 110%;
      color: white;
    }
  }
}

.auth-group {
  @apply mb-5;
  input {
    @apply w-full py-3 px-4 rounded-md border-gray-light;
    &.ng-invalid.ng-touched {
      @apply text-primary-red;
      &::placeholder {
        @apply text-primary-red;
      }
    }
  }
  label {
    @apply block text-sm text-primary-red mt-1
  }
}

///////////////////////////////////////
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
