
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fieldfinder-primary: mat.define-palette(mat.$green-palette, 700);
$fieldfinder-accent: mat.define-palette(mat.$green-palette, 700);

// The warn palette is optional (defaults to red).
$fieldfinder-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fieldfinder-theme: mat.define-light-theme((
  color: (
    primary: $fieldfinder-primary,
    accent: $fieldfinder-accent,
    warn: $fieldfinder-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($fieldfinder-theme);

@import 'tailwindcss/base';
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #eee;
  min-height: 100vh;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: unset;
}

[type='search']:focus, select:focus, input[type]:focus, textarea:focus {
  @apply shadow-none border-primary ring-primary;
}

///////////////////////////////////////
@import 'tailwindcss/components';
.shape-layer {
  background: rgba(238, 238, 238, 0.5);
  clip-path: polygon(0 0, 100% 0,68% 100% , 0 100%);
}
.linear-layer {
  background: linear-gradient(181.39deg, #000000 -50%, rgba(0, 0, 0, 0) 125.28%);
}
.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 576px) {
  .container {
    padding: 0 12px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.nav-item {
  .nav-link {
    @apply cursor-pointer text-base font-medium text-gray-text hover:text-gray-dark-2
  }
}
.search-field {
  @apply flex border border-primary rounded-md;
  // display: flex;
  // border: 2px solid #017E10;
  // border-radius: 5px;
  // width: fit-content;
  .form-group {
    input[type=search] {
      @apply py-5 px-4 bg-transparent text-sm lg:text-lg text-gray-dark-2 font-medium placeholder:text-gray-text;
      // padding: 20px 15px;
      // border: 0;
      // background-color: transparent;
      // font-size: 18px;
      // font-weight: 500;
      // color: #1E1E1E;
      // width: 306px;
      @media (max-width: 1400px) {
        // width: 230px;
        // font-size: 14px;
      }
      @media (max-width: 991.98) {
        // width: 180px;
        color: #fbfbfb;
        // font-size: 12px;
        padding: 15px 5px;
      }
      &::placeholder {
        // color: #4f4f4f;
        @media (max-width: 991.98) {
          color: #fbfbfb;
        }
      }
      &:focus {
        --tw-ring-color: #017E10;
      }
    }
  }
  .search-btn {
    button[type=submit] {
      padding: 0 20px;
      border: 0;
      background-color: #017E10;
      height: 100%;
      width: 100%;
      font-size: 18px;
      line-height: 110%;
      color: white;
    }
  }
}

.auth-group {
  @apply mb-5;
  input {
    @apply w-full py-3 px-4 rounded-md border-gray-light;
    &.ng-invalid.ng-touched {
      @apply text-primary-red;
      &::placeholder {
        @apply text-primary-red;
      }
    }
  }
  label {
    @apply block text-sm text-primary-red mt-1
  }
}

.time-slot {
  @apply col-span-1 py-2 px-1 bg-primary-light rounded-md flex justify-center items-center gap-1 cursor-pointer select-none transition-all duration-300;
  &.bg-primary {
    span {
      @apply text-white;
    }
  }
}

.field-input {
  @apply w-full bg-bg-1 py-[10px] px-4 text-sm text-gray-dark border border-gray-light rounded-md;
}

.table__th-td {
  @apply text-xs lg:text-base align-middle text-center py-3 lg:py-5 px-2 lg:px-3;
}

///////////////////////////////////////
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
